/* InterfasUser.css */
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .adminLink {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .adminLink:hover {
    text-decoration: underline;
  }
  